<div class="container">
  <div class="row">
    <%= render '/users/sidebar', book: @book_s, user: @user_s %>
    <div class="col-md-8 offset-md-1">
      <h2 class="border-bottom border-secondary">Books</h2>
      <table>
        <thead class="border-bottom border-secondary">
          <th>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>